@use '../colors.scss';
@use '../fonts.scss';

.title {
    color: colors.$white;
    font-size: 2rem;
}

.content {
    color: colors.$white;
    font-size: 1.25rem;
}

.rascalsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rascalEggs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

    .egg {
        width: 90%
    }

    .rascal {
        position: absolute;
        width: 60%;
    }
}

.flip {
    transform: scaleX(-1);
}

.currRascal {
    transform: scale(1.5);
    z-index: 10;
}

.rewardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    p {
        font-size: 1.25rem;
    }

    .fragmentImg {
        height: 1.25rem;
    }
}