@use '../colors.scss';
@use '../fonts.scss';

.title {
  color: colors.$white;
}

.message {
  color: colors.$white;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cancelBtn, .sellBtn {
  padding-block: 0.5rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;

  &:hover {
      cursor: pointer;
      transform: translate(1px, 1px);
      transition: transform 0.3s ease;
  }
}

.cancelBtn {
  background-color: colors.$gray;
}
.sellBtn {
  background-color: colors.$turqouise;
}