@use '../colors.scss';
@use '../fonts.scss';

.progressContainer {
    position: ab;
    background-color: colors.$dark-brown;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
}

.progress {
    height: 100%;
    border-radius: 5rem;
    transition: width 0.5s ease-in-out;
}

.greenBar {
    background-color: colors.$success;
}

.redBar {
    background-color: colors.$soft-red;
}