@use "../colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.radial-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  border-radius: 5px;
  background: radial-gradient(ellipse at bottom, colors.$dark-blue, colors.$dark);
}

.radial-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}