@use "../colors";
@use "../fonts";

.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cardTop {
    position: relative;
    background-color: linear-gradient(to top, colors.$dark-blue, colors.$light-blue);
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: colors.$light-blue;

    .rascalImg {
        width: 70%;
    }
}

.cardRarity {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.cardPrice{
    position: absolute;
    background-color: colors.$dark-blue;
    color: colors.$light-blue;
    border-radius: 5px;
    border: 1px solid colors.$light-blue;
    bottom: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;

    img {
        width: 2rem;
    }
}

.cardBottom {
    background-color: colors.$dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: colors.$light-blue;
    padding: 2rem 2rem 1rem 2rem;
    gap: 1rem;
}

.cardDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: fonts.$vt323;
        color: colors.$light-blue;
        font-size: xx-large;
    }
    p {
        font-size: small;
        color: colors.$light-blue;
    }
}

.cardStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    div {
        text-align: center;

        p {
            color: colors.$light-blue;
        }
        .atkLbl, .hpLbl, .spdLbl {
            color: colors.$white;
            font-weight: 500;
            width: 2.5rem;
            border-radius: 5px;
        }
        .atkLbl {
            background-color: colors.$soft-red;
        }
        .hpLbl {
            background-color: colors.$turqouise;
        }
        .spdLbl {
            background-color: colors.$yellow;
        }
    }
}

