@use '../colors.scss';
@use '../fonts.scss';

.title {
    color: colors.$white;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1rem;
    padding: 10px 2rem;
    width: 100%;
}

.noRascal {
    color: colors.$white;
}