@use "../colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem;
    padding-top: 2rem;

    width: fit-content;
    height: 100vh;
    background-color: rgba(colors.$dark, 0.1);

    .button {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        transition: 300ms;
        padding: 0.2rem 0.5rem;
        border-radius: 10px;

        h3 {
            color: colors.$light-blue;
            transform: scaleX(0);
            transform-origin: left;
            transition: 200ms linear;
        }

        img {
            transform: scale(0.8);
        }

        &:hover {
            background-color: colors.$dark-blue-fade;
            cursor: pointer;
            transform: scale(1.05) translateX(0.5rem);

            h3 {
                color: colors.$light-orange;
            }

            img {
                filter: brightness(0) saturate(100%) invert(77%) sepia(68%) saturate(4167%) hue-rotate(317deg) brightness(95%) contrast(118%);
            }
        }
    }

    &:hover {
        h3 {
            transform: scaleX(1);
        }
    }
}