@use "../colors";
@use "../fonts";

.sidebar-container {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: colors.$dark-blue;
    padding-top: 60px;
    white-space: nowrap;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    
    a {
        text-decoration: none;
        color: colors.$light-blue;
        background-color: colors.$dark-blue;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border-radius: 5px;
        display: block;

        svg {
            width: 25px;
            height: 25px;
            vertical-align: middle;
            margin-right: 1.5rem;
        }

        .icon-text {
            font-family: fonts.$poppins;
            font-size: 18px;
            vertical-align: middle;
        }

        &:hover {
            background-color: colors.$dark-blue-fade;
            color: colors.$light-orange;
        }
    }
}