@use "../colors";
@use "../fonts";

.woodBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    img {
        width: 100%;
        position: relative;
    }
    p {
        position: absolute;
        font-family: fonts.$vt323;
        font-size: 40px;
        color: colors.$dark-brown;
        font-weight: bold;
    }
}

.topRight {
    top: 2rem;
    right: 5rem;
}