$white: #FFFFFF;
$black: #000000;
$dark: #020F1F;
$dark-blue: #0E2860;
$turqouise: #309EAB;
$light-blue: #A8E1FE;
$light-orange: #FD6E60;
$soft-red: #ff5252;
$dark-blue-fade: #1B3469;
$gray: #AFAFAF;
$purple: #7721E7;
$light-blue-fade: #7FB7D4;
$success: #2DFE54;
$darker-brown: #3b200f;
$dark-brown: #5A2F14;
$medium-brown: #a45929;
$light-brown: #CF8653;
$cream-brown: #ffccae;
$yellow: #ffae02;
$brown-gradient: linear-gradient(to top, $darker-brown, $medium-brown);
$linear-gradient: linear-gradient(to top, $dark, $dark-blue);
$radial-gradient: radial-gradient(ellipse at bottom, $dark-blue, $dark);