@use '../colors.scss';
@use '../fonts.scss';

.mainContainer {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;

  .background {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.aquariumContainer {
  position: relative;
  padding-inline: 6rem;
  overflow: hidden;
}

.aquariumTop {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 2rem;
  left: 6rem;
  width: 90%;
}

.aquariumStats {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.myRascalPage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 0;
  transition: top 0.5s ease-in-out;
}

.slideUp {
  top: 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, -50%);
  }
  40% {
    transform: translate(-50%, -70%);
  }
  60% {
    transform: translate(-50%, -60%);
  }
}

.gachaButton {
  overflow: hidden;
  width: 12%;
  position: absolute;
  right: 4rem;
  bottom: 2rem;
  transition-duration: 0.25s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .background {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .eggButton {
    overflow: hidden;
    width: 60%;
    position: absolute;
    transition-duration: 0.25s;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: bounce 2s infinite;

    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.9);
  }

  h2 {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: colors.$dark-brown;
  }
}

.aquariumBottom {
  // overflow: hidden;
  width: 12%;
  position: fixed;
  left: 6rem;
  bottom: 2rem;
  transition-duration: 0.25s;
  color: colors.$medium-brown;

  .openDefenseModalButton {
    position: relative;
    width: 50%;
    transition: 300ms;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    img {
      width: 100%;
    }

    .shieldIcon {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      // color: colors.$dark-brown;
      width: 80%;
      filter: brightness(0) saturate(100%) invert(13%) sepia(37%) saturate(1013%) hue-rotate(340deg) brightness(89%) contrast(94%);
    }
  }

  .playButton {
    width: 100%;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.aquariumCanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
}


@keyframes glowAndGrow {
  0%, 100% {
    box-shadow: 0 0 10px 5px colors.$yellow, 0 0 20px 15px colors.$soft-red;
  }
  50% {
    box-shadow: 0 0 10px 5px colors.$yellow, 0 0 30px 20px colors.$soft-red;
    transform: scale(1.1);
  }
}

@keyframes miniGlowAndGrow {
  0%, 100% {
    box-shadow: 0 0 5px 3px colors.$yellow, 0 0 10px 5px colors.$soft-red;
  }
  50% {
    box-shadow: 0 0 10px 5px colors.$yellow, 0 0 15px 10px colors.$soft-red;
    transform: scale(1.1);
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px 5px colors.$yellow, 0 0 20px 15px colors.$soft-red;
  }
  50% {
    box-shadow: 0 0 10px 5px colors.$yellow, 0 0 30px 20px colors.$soft-red;
    transform: scale(1.1);
  }
}

.gachaModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .gachaModal {
    position: absolute;
    background-color: colors.$dark;
    border: 0.5rem solid colors.$black;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 65%;

    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    h1 {
      text-align: center;
      color: colors.$yellow;
      font-size: 2.5rem;
    }

    .egg {
      width: 40%;
      border-radius: 50%;
      animation: glowAndGrow 2s infinite;
      transition: 300ms;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        animation: glow 2s infinite;
      }
    }

    .invalidRasletText {
      color: colors.$gray;
    }

    .invalidRasletSymbolContainer {
      display: flex;
      gap: 1rem;
      height: 100%;
      align-items: end;
      justify-content: center;

      .invalidEggTop {
        width: 30%;
        filter: grayscale(90%);
      }

      .invalidEggBottom {
        width: 30%;
        filter: grayscale(90%);
      }
    }

    .gachaResultContainer {
      width: 100%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding-inline: 10%;

      .gachaResult {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        img {
          height: 80%;
          border-radius: 50%;
          object-fit: fill;
          animation: miniGlowAndGrow 4s infinite;
          transition: 300ms;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            animation: glow 2s infinite;
          }
        }
      }

      .rarity {
        width: 100%;
      }

      .gachaResultStatsContainer {
        width: fit-content;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 1rem;
        padding-bottom: 2rem;
        gap: 1rem;

        h2 {
          width: fit-content;
          text-align: center;
          color: colors.$white;
        }

        div {
          width: fit-content;
          text-align: center;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.5rem;
          color: colors.$white;
          font-weight: 500;

          .atkLbl, .hpLbl, .spdLbl {
            font-size: 1.5rem;
            color: colors.$white;
            font-weight: 500;
            width: 5rem;
            border-radius: 5px;
          }

          .atkLbl {
            background-color: colors.$soft-red;
          }

          .hpLbl {
            background-color: colors.$turqouise;
          }

          .spdLbl {
            background-color: colors.$yellow;
          }
        }
      }
    }
  }
}

@keyframes expandGlow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.glowEffect {
  animation: expandGlow 2s ease-out forwards; // Adjust the duration as needed
  animation-delay: 0.5s; // Adjust the delay as needed
  pointer-events: none; // Prevent interaction during the animation
  width: 40%;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px colors.$yellow, 0 0 30px 20px colors.$soft-red;
}

.selectBattleRascalMainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  gap: 1.5rem;

  h1 {
    text-align: center;
    color: colors.$white;
    font-size: 2rem;
  }

  .selectedRascalsContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;

    .selectedRascalContainer {
      width: 20%;
      height: 10%;
      border-radius: 50%;
      position: relative;

      &:hover {
        transform: scale(1.1) translateY(-1rem);
        cursor: pointer;
      }

      .rascalWoodenBackground {
        position: relative;
        width: 100%;
      }

      .selectedRascal {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  .brawlButton {
    position: absolute;
    bottom: 10%;
    width: 40%;
    height: 20%;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);

      h1 {
        color: colors.$cream-brown;
        transition: 300ms;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    h1 {
      z-index: 100;
      text-align: center;
      color: colors.$dark-brown;
    }
  }
}

.availableRascalsContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  height: 25%;
  z-index: 2000;

  background-color: colors.$dark-blue;
  border-radius: 10px 10px 0 0;
  border: 1px solid colors.$light-blue;

  transform: translateX(-50%) scaleY(0);
  transition: 300ms;
  transform-origin: bottom;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 1.5rem;
  padding: 1rem;

  img {
    height: 50%;
    transition: 300ms;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.showAvailableRascalsContainer {
  transform: translateX(-50%);
}

.selectCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}