@use '../colors.scss';
@use '../fonts.scss';

.mainContainer {
    overflow: hidden;
    background-image: url('/bg-aquarium.png');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.aquariumContainer {
    position: relative;
    padding-inline: 6rem;
    overflow: hidden;
}

.aquariumTop {
    position: absolute;
    display: flex;
    top: 2rem;
    left: 6rem;
}

.aquariumBottom {
    overflow: hidden;
    width: 10%;
    position: fixed;
    left: 6rem;
    bottom: 2rem;
    transition-duration: 0.25s;

    img {
        width: 100%;
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}

.aquariumCanvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}