@use "../colors";
@use "../fonts";

.mainContainer {
    background-color: colors.$dark;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0 0 70px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.parallaxContainer, .aboutContainer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    color: colors.$white;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 100px;
    text-align: center;
    font-family: fonts.$vt323;
}
.backImg,
.midImg,
.frontImg {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}
.backImg {
    z-index: -3;
}
.midImg {
    z-index: -2;
}
.frontImg {
    z-index: -1;
}

.aboutContainer {
    width: 100%;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: colors.$white;
    padding: 10rem;
    gap: 2rem;  
    

    h1 {
        font-size: 5rem;
        font-family: fonts.$vt323;
    }
    p {
        font-size: 2rem;
        text-align: center;
        font-family: fonts.$vt323;
    }
}
