@use "../colors";
@use "../fonts";

.mainContainer {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: colors.$dark;
}

.parallaxContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallaxContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.parallaxContainer h1 {
    position: absolute;
}

.lightImg {
    mix-blend-mode: screen;
}

.parallaxContainer .logo {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.introContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: colors.$light-blue;
    color: colors.$white;
    height: 100vh;
    gap: 2rem;

    h1 {
        font-size: 5rem;
        font-family: fonts.$vt323;
    }
    p {
        font-size: 2rem;
        font-family: fonts.$vt323;
    }
}