@use "../colors";
@use "../fonts";

.mainContainer {
    min-height: 100vh;
    overflow-x: hidden;
}

.parallaxContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.parallaxContainer img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center bottom;
}   

.parallaxContainer .logo {
    position: relative;
    width: 50%;
    object-fit: contain;
}

.lightImg {
    mix-blend-mode: screen;
}

.introContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: colors.$dark;
    color: colors.$white;
    height: 100vh;
    // padding: 15rem;
    gap: 2rem;

    h1 {
        font-size: 5rem;
        font-family: fonts.$vt323;
        color: colors.$soft-red;
    }
       
    p {
        font-size: 2rem;
        font-family: fonts.$vt323;
        padding-inline: 20rem;
    }
}

.loginBtn {
    position: absolute;
    top: 2rem;
    right: 5rem;
    transition: 300ms;
    width: 275px;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}

.brawlContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    h1 {
        font-size: 5rem;
        font-family: fonts.$vt323;
        color: colors.$soft-red;
    }
       
    img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: cover;
    }

    .brawlTopImg {
        top: 0;
        object-position: center top;
    }
    .brawlBottomImg {
        bottom: 0;
        object-position: center bottom;
    }
}


.brawlContent {
    position: relative;
    padding: 15rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}
.brawlContent .brawlText {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    p {
        font-size: 2rem;
        font-family: fonts.$vt323;
        color: colors.$white;
    }
}

.rascalsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-height: 100vh;
    width: 100%;
    padding-block: 5rem;
    background-color: colors.$dark;

    h1 {
        font-size: 5rem;
        font-family: fonts.$vt323;
        color: colors.$soft-red;
        padding: 2rem;
    }
}