@use "../colors";

.mainContainer {
    padding-inline: 10rem ;
    min-height: 100vh;
    background-color: colors.$dark;
    overflow-x: hidden;
}

.headerContainer {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    
    z-index: 100;
    width: 100%;

    h1 {
        color: colors.$white;
    }
}

.searchBar {
    color: colors.$light-blue;
    border: 1px solid colors.$light-blue;
    background-color: colors.$dark-blue;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;

    svg {
        width: 30px;
        height: 30px;
    }

    input {
        border: none;
        width: 100%;
        background-color: colors.$dark-blue;
        color: colors.$white;
        outline: none;

        &::placeholder{
            color: colors.$light-blue;
        }
    }
}

.topContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
    background-color: colors.$dark-blue;
    border-radius: 5px;

    h1 {
        color: colors.$white;  
    }
}

.topSelling {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > * {
        flex: 0 1 calc(50% - 1rem);
        align-self: stretch;
    }
}

.recentContainer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        color: colors.$white;  
    }
}

.recentRascals {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > * {
        flex: 0 1 calc(25% - 1rem);
        align-self: stretch;
    }
}