* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bgBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.bgFront {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pageContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.topPart {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.bottomPart {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}