@use '../colors.scss';
@use '../fonts.scss';

.myRascalContainer {
    background-color: colors.$light-brown;
    padding: 8rem 10rem;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.containerHeader {
    color: colors.$cream-brown;
    font-size: 2rem;
}

.myRascals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 80%;

    @media (max-width: 1500px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 1100px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 720px) {
        grid-template-columns: 1fr;
    }
}